{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>Alexandria | NLP Application</title>

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Bootstrap App Landing Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">  

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
  
  <!-- PLUGINS CSS STYLE -->
  <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/slick/slick-theme.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/plugins/aos/aos.css' %}">

  <!-- CUSTOM CSS -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

</head>

<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
  <nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img src="{% static 'assets/images/logo.png'%}" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="ti-menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> 
          {% url '/' as home %}       
          <li class="nav-item {% if request.path == "/" %}active{% endif %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          {% url 'nlp' as nlp %} 
          <li class="nav-item {% if request.path == nlp %}active{% endif %}">
            <a class="nav-link" href="{{ nlp }}">NL Processing</a>
          </li>
          {% url 'corpus' as corpus %} 
          <li class="nav-item {% if request.path == corpus %}active{% endif %}">
            <a class="nav-link" href="{{ corpus }}">Corpus</a>
          </li>
          {% url 'video' as video %} 
          <li class="nav-item {% if request.path == video %}active{% endif %}">
            <a class="nav-link" href="{{ video }}">Video Demo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>