{% load static %}
{% include "header.html" %}

<!--==================================
=            Feature Grid            =
===================================-->
<div class="section">
	<div class="container">
		<div class="row">		
			<div class="col-lg-8 align-self-center">
				<div class="block section-home">					
					<h1 class="home-title">Alexandria:<span class="title-color"> Artificial Intelligence</span>
					<br>for language processing</h1>
					<p class="home-desc">
						Alexandria uses NLP technologies to read, process and extract relevant 
						<br>information from Pdf Files.						
					</p>					
					<div class="apply-button">
						<a href="/nlp" class="btn btn-main-sm">Start Processing</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 justify-content-xs-center">
				<div class="image image-home" data-aos="flip-right">
					<img class="img-fluid" src="{% static 'assets/images/ai.jpg' %}" alt="Iphone-Black">
				</div>
			</div>
		</div>
	</div>
</div>
<!--====  End of Feature Grid  ====-->
{% include "footer.html" %}

