{% load static %}
{% include "header.html" %}

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>{{ query_docs.title  }}<a
							href="https://themefisher.com/products/small-apps-free-app-landing-page-template/">Small Apps</a></h2>
					<!-- Feature Description -->
					<p>{{ text }}</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"InVision is a window into everything that's being designed at Twitter. It gets all of our best work in one
						place."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="images/testimonial/feature-testimonial-thumb.jpg" alt="">
						</li>
						<li class="list-inline-item">{{ query_docs.author }}</li>  
            <li class="list-inline-item">{{ reverse }}</li>            
					</ul>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="images/feature/feature-new-02.jpg" alt="ipad">
				</div>
			</div>
		</div>
	</div>
</section>


{% include "footer.html" %}